/*reset  */
*{
  border:0;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root{
  font-size: 10px;
}

ul{
  display:flex;
  text-decoration: none;
  list-style: none;
  margin-left: 2rem;
  gap: 2rem;
}

a{
  display: flex;
  justify-content: center;
}

a:-webkit-any-link{
  color: black;
}

/*||NAVBAR  */
@font-face {
  font-family: "insta-font";
  src: url(../assets/fonts/GrandHotel-Regular.ttf);
}

.logo, .cardTitle{
  font-family: "insta-font";
  font-size: 4rem;
}
.nav-bar{
  display: flex;
  font-size: 2.5rem;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: beige;
}

/*||login card  */
.card_my_own{
  display: flex;
  width:40vw;
  height: 40vh;
  flex-direction: column;
  margin: 10rem auto;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
h3{
  font-weight: 100;
}

/* .card_my_own input{
  width: 80%;
  margin: 1rem;
  height: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.514);
  outline: none;
  font-size: 1.5rem;
} */
.submit{
  background-color: rgba(48, 155, 243, 0.863);
  width: 20%;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

/*||Profile  */

.profile_image, .grid_item{
  width: 15vw;
  margin-top: 3rem;
}

.profile_image img{
  object-fit: cover;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}
.main_description{
  gap: clamp(7rem,  20vw, 12rem);
}

.main_description, .user_stats, .user_description{
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.user_stats{
  display: flex;
  font-size: 2rem;
  gap: 2rem
}

.user_description{
  flex-direction: column;
  justify-content: space-evenly;
}

.user_description .name{
  font-size: 4.5rem;
}

.divider{
  height: 2px;
  background-color: rgba(0, 0, 0, 0.685);
  width: 80vw;
  margin: 0 auto;
}

.picture_grid{
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  justify-items: center;
  align-items: center;
}

.picture_grid .grid_item img{
  width: 100%;
}


/*HOME  */
.card{
  width: 30vw;
  margin: 5rem auto;
  padding: 1rem;
  font-size: 2rem;
}

/*||create post  */
.file-field {
  position: relative;
  width: 100%;
}
